body { 
    background-image: url("img/imgfundologin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.login-box{
    border: 1px hidden rgb(232, 244, 255);
    border-radius: 10px;
    width: 400px;
    height: 500px;
    position: relative;
    bottom: -190px;
    left: 740px;
    background-color: rgba(223, 238, 250, 0.5);
    backdrop-filter: blur(2px);
}
.nome img{
    filter: grayscale(100%);
    position: relative;
    width: 30px;
    height: 27px;
    bottom: -244px;
    left: 68px;
    
}

.figsenha img{
    color: white;
   position: relative;
   width: 35px;
   height: 29px;
   right: 269px;
   bottom: -173px;
}

.input-email{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    position: relative;
    font-size: 15px;
    left: 105px;
    bottom: -110px;
}

.input-senha {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    position: relative;
    left: 105px;
    bottom: -128px;
    font-size: 15px;
}

button{
    background-color: #3b9171;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-transform: capitalize;
    text-shadow: 2px 2px 4px #000000;
    position: absolute;
    bottom: 27px;
    margin: 40px 40px 40px -30px;
    width: 120px;
    height: 60px;
    font-size: 20px;
    left: 170px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

.avatar img{
    position: relative;
    bottom: -30px;
    right: 70px;
    width: 120px;
    height: 120px;
}